body {
  font-family: 'Raleway', sans-serif;
  background-color: #191919;
  text-align: center;
  color: white;
  margin: 0;
  width: 100%;
  background-image: url("detalles/imagenes/fondo.jpg");
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  margin-top: 0 !important;
}

nav > .titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 3vw;
}

.titulo > img {
  width: auto;
  height: 29px;
  padding-left: 10px;
}

nav > .links {
  font-size: 15px;
  font-weight: bold;
  padding-left: 1vw;
  padding-right: 3vw;
  display: flex;
  width: fit-content;

}

.links > a {
  margin-left: 2vw;
  color: white;
  font-weight: 900;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

.bienvenidos {
  display: flex;
  background-color: black;
  margin-top: 128px !important;
  align-items: center;
}

.bienvenidos > div {
  margin: auto;
}

.bienvenidos > div > img {
  width: 400px;
  height: auto;
}

.deco-container {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 400px;
  height: 400px;
}

#pic-izquierda {
  position: absolute;
  width: 800px;
  height: auto;
  top: -5px;
  left: -5px;
}

#pic-derecha {
  position: absolute;
  width: 800px;
  height: auto;
  top: -5px;
  right: -5px;
}

.bienvenidos > div > h2 {
  font-size: 30px;
}


.catalogo {
  background-color: black;
  color: white;
  margin-top: 100px;
}

.catalogo > h2 {
  padding-top: 20px;
}

.row {
  background-color: black;
}

.slider {
  display: flex;
  overflow: hidden;
  margin: auto;
}

.pic {
  width: 330px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border: 5px solid white;
  border-radius: 5%;
}

.pic-container {
  text-align: center;
  font-size: 13px;
  color: white;
  padding: 10px;
}


.pic > a > img{
  width: 330px;
  height: auto;
  position: absolute;
  top: -10px;
  left: 0;
}

.row {
  display: flex;
}

.prev, .next {
  height: fit-content;
  position: relative;
  top: 120px;
  color: white;
  width: 480px;
  font-size: 40px;
}

.prev:hover, .next:hover {
 cursor: pointer;
}

.info {
  margin-top: 100px;
  background-color: black;
  font-weight: bold;
}

.info-container {
  padding: 30px 0 30px 0;
  overflow: hidden;
}

.info-container > .img-container {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.info-container > .img-container > img {
  position: absolute;
  width: 1920px;
  height: auto;
  top: -610px;
  left: -195px;
}

.info-container > .texto {
  padding: 20px;
}

.contacto {
  overflow: hidden;
  display: flex;
  margin-top: 100px;
  background-color: black;
  align-items: center;
  width: 100%;
  height: 400px;
}

.contacto > .contenedor {
  width: 50%;
}

.contenedor > img {
  width: 960px;
  height: auto;
}

.contacto > .informacion {
  margin: auto;
}

footer {
  margin: 100px 0 0 0;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.redes {
  display: flex;
}

.redes > a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.redes >a:hover {
  text-decoration: none;
}

.rectangulo {
  margin-top: 60px;
}

@media (max-width: 1024px) {

  .rectangulo {
    width: 1280px;
  }

  nav {
    height: 80px;
  }

  .links > a {
    font-size: 20px;
  }

  .bienvenidos {
    margin-top: 140px;
  }

  .bienvenidos > div > p {
    font-size: 30px;
  }

  .title {
    font-size: 20px;
  }

  .prev, .next {
    width: 380px;
  }

  .contacto > div > p {
    font-size: 30px;
  }

  .redes > a {
    font-size: 30px;
  }

  .copyright > p {
    font-size: 30px;
  }

}