* {box-sizing:border-box}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #191919;
  text-align: center;
  color: white;
  margin: 0;
  background-image: url("imagenes/fondo.jpg");
}

h2 {
  width: fit-content;
  margin: auto;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

nav > .titulo {
  display: flex;
  align-items: center;
  width: fit-content;
  padding-left: 3vw;
}

.titulo > img {
  width: auto;
  height: 29px;
  padding-left: 10px;
}

nav > .links {
  font-size: 15px;
  font-weight: bold;
  padding-top: 2vh;
  padding-left: 1vw;
  padding-right: 3vw;
  display: flex;
  width: fit-content;

}

.links > a {
  margin-left: 2vw;
  color: white;
  font-weight: 900;
  text-decoration: none;
}

.contenedor {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%) fit-content(100%);
  gap: 4vmin;
  width: 96vw;
  margin: auto;
  margin-top: 100px;
  background-color: black;
}

.titulo {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deco-container {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 400px;
  height: 200px;
}

#pic-izquierda {
  position: absolute;
  width: 800px;
  height: auto;
  top: -100px;
  left: -5px;
}

#pic-derecha {
  position: absolute;
  width: 800px;
  height: auto;
  top: -100px;
  right: -5px;
}

#pic-derecha, #pic-izquierda {
  z-index: 1;
}

.auto-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.slideshow-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, fit-content(100%));
  width: 50vw;
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: black;
  height: fit-content;
}

.contacto {
  padding: 2vw;
  width: 20vw;
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySlides {
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.mySlides > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

.sliders {
  display: flex;
  align-items: center;
}

.detalles {
  grid-column: 2/3;
  grid-row: 2/3;
  height: fit-content;
  width: 100%;
}

.fila-detalles {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-content: flex-start;
  height: fit-content;
}

.fila-detalles > p {
  margin: 0;
}

.funciones {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: fit-content(100%) fit-content(100%);
  grid-column: 1/3;
  grid-row: 3/4;
  width: 100%;
}

.funciones > #header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.funciones > p {
  height: min-content;
}

.descripcion {
  grid-column: 1/3;
  grid-row: 4/5;
  width: 100%;
}

footer {
  margin: 100px 0 0 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.redes {
  display: flex;
}

.redes > a {
  padding: 10px;
  text-decoration: none;
  color: white;
}

.redes >a:hover {
  text-decoration: none;
}

.box {
  background-color: black;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  height: fit-content;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgb(150, 150, 150);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 1vh;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media (max-width: 1024px) {

  .contenedor {
    grid-template-columns: fit-content(100%);
    grid-template-rows: repeat(5, fit-content(100%));
  }

  .titulo {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .auto-contacto {
    flex-direction: row;
    justify-content: space-around;
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .detalles {
    grid-row: 3/4;
    grid-column: 1/2;
  }

  .fila-detalles > p {
    font-size: 10px;
  }

  .funciones {
    grid-row: 4/5;
    grid-column: 1/2;
  }

  .funciones > p {
    font-size: 10px;
  }

  .descripcion {
    grid-row: 5/6;
    grid-column: 1/2;
  }

  .descripcion > p {
    font-size: 10px;
  }

}
