* {box-sizing:border-box}

body {
  background-color: #ededed;
  font-family: Gibson,Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

h2 {
  width: fit-content;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 2px rgb(156, 155, 155);
  font-family: Gibson,Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
}

nav > * {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav > a {
  width: 10vw;
  border-left: 1px solid hsl(330, 1%, 73%);
  text-decoration: none !important;
  font-weight: 900;
  color: rgb(221, 215, 215);
  text-shadow: -1px -1px 1px rgb(128, 125, 125);
  font-size: 18px;
}

nav > div {
  font-weight: 900;
  color: black;
  text-shadow: -1px -1px 1px rgb(128, 125, 125);
  font-size: 18px;
}

nav > a:hover {
  box-shadow: 1px 1px 2px rgb(179, 176, 176) inset,
              -1px -1px 2px rgb(179, 176, 176) inset;
}

nav > a:active {
  text-decoration: none;
}

footer {
  margin-top: 5vh;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px -1px 2px rgb(156, 155, 155);
  font-family: Gibson,Tahoma,Arial,sans-serif;
  font-weight: 400;
  font-size: 12px;
}

footer > a {
  font-family: Gibson,Tahoma,Arial,sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-decoration:  none;
  color: rgb(0, 0, 0);
}

footer > a:hover {
  text-decoration: underline;
}

.fila-detalles {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-content: flex-start;
}

.contenedor {
  display: grid;
  grid-template-columns: fit-content(100%) fit-content(100%);
  grid-template-rows: fit-content(100%) fit-content(100%);
  gap: 3vmin;
  width: fit-content;
  margin: auto;
  margin-top: 100px;
}

.funciones {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: fit-content(100%) fit-content(100%);
}

.funciones > #header {
  grid-column: 1/3;
  grid-row: 1/2;
}

.funciones > p {
  height: min-content;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

/* Slideshow container */
.slideshow-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, fit-content(100%));
  padding: 2vw 0 2vw 0;
  width: 50vw;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/2;
}

.sliders {
  display: flex;
  align-items: center;
}

.vehicle-details {
  padding: 2vw;
  width: 50vw;
  margin: auto;
  margin-top: 3vh;
  grid-column: 1/2;
  grid-row: 2/3;
}

.vehicle-details > .detalles > .fila-detalles {
  height: 4vh;
}

.contacto {
  padding: 2vw;
  width: 20vw;
  height: fit-content;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgb(175, 173, 173);
}

/* Hide the images by default */
.mySlides {
  display: block;
  width: 40vw;
  height: 60vh;
  margin: auto;
  margin-top: 5vh;
  overflow: hidden;
}

img {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  width: auto;
  height: fit-content;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgb(150, 150, 150);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-top: 1vh;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

